<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Guessr</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<div id="app">
    <body>
        <div class="container">
            <div v-if="gameOver">
                <div class="answer">{{ answer }}</div>
            </div>
            <div v-else>
                <div class="answer">&nbsp;</div>
            </div>
            <div v-bind:class="{shake: shake}">
                <img :src="flagURL" class="dropShadow"><br>
            </div>
            <div class="score">Score: {{ score }}</div>
            <input v-model="userInput" @keypress.enter="enterPressed" type="text" class="textbox"><br>
            <div v-if="!gameOver" class="button_orange">
                <a @click="seeAnswer">See the Answer</a>
            </div>
            <div v-else class="button_blue">
                <a @click="restart">Play Again</a>
            </div>
        </div>
    </body>
</div>
<script src="app.js"></script>

</html>