<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="ja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Guessr</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <div id="app">
            <div v-if="gameOver">
                <div class="answer">{{ answer }}</div>
            </div>
            <div v-else>
                <div class="answer">&nbsp;</div>
            </div>
            <img :src="flagURL" class="dropShadow"><br>
            <div class="score">スコア: {{ score }}</div>
            <input v-model="userInput" type="text" class="textbox"><br>
            <div v-if="!gameOver" class="button_orange">
                <a @click="seeAnswer">答えを見る</a>
            </div>
            <div v-else class="button_blue">
                <a @click="restart">もう一度</a>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>